{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Greetings for my baby">
  <meta name="author" content="lenciel">
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=640, initial-scale=1"/>

  <title>Baby-Greeting By Lenciel</title>

  <!-- CSS start Here-->
  {% compress css %}
  <link rel="stylesheet" href="{% static 'greeting/css/card.css' %}">
  <link rel="stylesheet" href="{% static 'greeting/css/style.css' %}" />
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>-->
  <script src="{% static 'greeting/js/modernizr.js' %}"></script>
  <!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
  {% endcompress %}
  <!-- CSS end Here-->

  <!-- JS start Here-->
  {% compress js %}
  <script src="{% static 'greeting/js/jquery.js' %}"></script>
  <script src="{% static 'greeting/js/modernizr.js' %}"></script>
  {% endcompress %}
  <!-- JS end Here-->
</head>

<body>
<!-- Content Wrapper start Here-->
<div class="container">
  <header>
    <h1>下面是大家给蒙蒙的祝福</h1>
    <h2>LOVE IS LOVE</h2>
  </header>
  <!-- Main Wrapper start Here-->
  <section class="main">
    <div id="sb-container" class="sb-container">
      <div class="color1">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Smile Xu</span></h4>
        <h5><span>A football star is coming</span></h5>
      </div>
      <div class="color2">
        <span class="sb-icon icon-picture"></span>
        <h4><span>郭欢</span></h4>
        <h5><span>迎接第二足球代</span></h5>
      </div>
      <div class="color3">
        <span class="sb-icon icon-picture"></span>
        <h4><span>lethe3k</span></h4>
        <h5><span>赠0.1 ltc当满月礼物</span></h5>
      </div>
      <div class="color4">
        <span class="sb-icon icon-picture"></span>
        <h4><span>jerry</span></h4>
        <h5><span>祝宝宝聪明伶俐</span></h5>
      </div>
      <div class="color5">
        <span class="sb-icon icon-picture"></span>
        <h4><span>bergkamp</span></h4>
        <h5><span>快乐小基友一枚。健康快乐成长。</span></h5>
      </div>
      <div class="color6">
        <span class="sb-icon icon-picture"></span>
        <h4><span>李思阳</span></h4>
        <h5><span>心怀梦想，快乐成长</span></h5>
      </div>
      <div class="color7">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Ivy</span></h4>
        <h5><span>祝顺利生产！平安，喜乐！</span></h5>
      </div>
      <div class="color8">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Loren</span></h4>
        <h5><span>一马当先，马不停蹄，马到成功，小马过河。</span></h5>
      </div>
      <div class="color9">
        <span class="sb-icon icon-picture"></span>
        <h4><span>亮宅</span></h4>
        <h5><span>健健康康，快快乐乐。在摇篮里最爱做的动作是脚向前踢。</span></h5>
      </div>
      <div class="color10">
        <span class="sb-icon icon-picture"></span>
        <h4><span>蛐蛐</span></h4>
        <h5><span>祝小宝宝健康可爱～！</span></h5>
      </div>
      <div class="color11">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Annie</span></h4>
        <h5><span>Football together</span></h5>
      </div>

      <div class="color1">
        <span class="sb-icon icon-picture"></span>
        <h4><span>宇哥</span></h4>
        <h5><span>be strong, be smart, be rich!</span></h5>
      </div>
      <div class="color2">
        <span class="sb-icon icon-picture"></span>
        <h4><span>濮雪</span></h4>
        <h5><span>好基友快出来</span></h5>
      </div>
      <div class="color3">
        <span class="sb-icon icon-picture"></span>
        <h4><span>jerrard</span></h4>
        <h5><span>早日学会看球和踢球</span></h5>
      </div>
      <div class="color4">
        <span class="sb-icon icon-picture"></span>
        <h4><span>wincent</span></h4>
        <h5><span>健康快乐</span></h5>
      </div>
      <div class="color5">
        <span class="sb-icon icon-picture"></span>
        <h4><span>睡不着</span></h4>
        <h5><span>乖；喊你们爸爸把奖发给叔叔哈</span></h5>
      </div>
      <div class="color6">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Candy</span></h4>
        <h5><span>帅到爆</span></h5>
      </div>
      <div class="color7">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Ta姨</span></h4>
        <h5><span>姨我掐指一算很灵的</span></h5>
      </div>
      <div class="color8">
        <span class="sb-icon icon-picture"></span>
        <h4><span>小黄</span></h4>
        <h5><span>肯定要生个男孩来传承昊哥的衣钵撒，将李氏球技发扬光大！</span></h5>
      </div>
      <div class="color9">
        <span class="sb-icon icon-picture"></span>
        <h4><span>john</span></h4>
        <h5><span>未来的中场核心诞生了！还差个前锋跟后卫</span></h5>
      </div>
      <div class="color10">
        <span class="sb-icon icon-picture"></span>
        <h4><span>肖QQ</span></h4>
        <h5><span>宝贝，希望你白白又胖胖，健健康康，遗传到父母的优点。</span></h5>
      </div>
      <div class="color11">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Effie</span></h4>
        <h5><span>欢迎小朋友来到同个地方，要健康成长，开开心心哦</span></h5>
      </div>

      <div class="color1">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Tom</span></h4>
        <h5><span>有其母必有其子</span></h5>
      </div>
      <div class="color2">
        <span class="sb-icon icon-picture"></span>
        <h4><span>DD</span></h4>
        <h5><span>健健康康、开开心心长大，hacker or soccerer as his wish</span></h5>
      </div>
      <div class="color3">
        <span class="sb-icon icon-picture"></span>
        <h4><span>华叔叔</span></h4>
        <h5><span>become a football star in the future</span></h5>
      </div>
      <div class="color4">
        <span class="sb-icon icon-picture"></span>
        <h4><span>LDL</span></h4>
        <h5><span>身心健康</span></h5>
      </div>
      <div class="color5">
        <span class="sb-icon icon-picture"></span>
        <h4><span>恩恩</span></h4>
        <h5><span>母子平安</span></h5>
      </div>
      <div class="color6">
        <span class="sb-icon icon-picture"></span>
        <h4><span>马遥</span></h4>
        <h5><span>投胎是门技术活，投胎当lenciel的baby，说明你技术ganggang的好哦，阿姨看好你，wish u all the best，么么大^_^</span></h5>
      </div>
      <div class="color7">
        <span class="sb-icon icon-picture"></span>
        <h4><span>useydog</span></h4>
        <h5><span>good boy! look like footballstar</span></h5>
      </div>
      <div class="color8">
        <span class="sb-icon icon-picture"></span>
        <h4><span>秦涛</span></h4>
        <h5><span>无论生儿生女，都是福气</span></h5>
      </div>
      <div class="color9">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Amy</span></h4>
        <h5><span>健健康康快快乐乐成长！</span></h5>
      </div>
      <div class="color10">
        <span class="sb-icon icon-picture"></span>
        <h4><span>周妈</span></h4>
        <h5><span>男孩好结亲啊！</span></h5>
      </div>
      <div class="color11">
        <span class="sb-icon icon-picture"></span>
        <h4><span>xcl</span></h4>
        <h5><span>幸福快乐，健康成长！</span></h5>
      </div>

      <div class="color1">
        <span class="sb-icon icon-picture"></span>
        <h4><span>周峰</span></h4>
        <h5><span>Best wishes!</span></h5>
      </div>
      <div class="color2">
        <span class="sb-icon icon-picture"></span>
        <h4><span>丁睿</span></h4>
        <h5><span>oh,luckdog</span></h5>
      </div>
      <div class="color3">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Star</span></h4>
        <h5><span>have a wonderful life</span></h5>
      </div>
      <div class="color4">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Jennie</span></h4>
        <h5><span>茁壮!</span></h5>
      </div>
      <div>
        <h4><span>猜男生的朋友</span></h4>
      </div>
    </div>
    <!-- sb-container -->
    <div id="sb-container2" class="sb-container">
      <div class="color1">
        <span class="sb-icon icon-picture"></span>
        <h4><span>lica</span></h4>
        <h5><span>姑娘，千万要长得像你娘！</span></h5>
      </div>
      <div class="color2">
        <span class="sb-icon icon-picture"></span>
        <h4><span>雪豆</span></h4>
        <h5><span>本想猜儿可以预定个亲家，哈哈哈还是女几率大xi</span></h5>
      </div>
      <div class="color3">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Rudey</span></h4>
        <h5><span>Hello world</span></h5>
      </div>
      <div class="color4">
        <span class="sb-icon icon-picture"></span>
        <h4><span>finetouch</span></h4>
        <h5><span>美丽，健康，充满自信和勇气！</span></h5>
      </div>
      <div class="color5">
        <span class="sb-icon icon-picture"></span>
        <h4><span>我才是柳柳</span></h4>
        <h5><span>一定是位有着偶像派妈咪的美丽和爹地智慧滴小公主^_^</span></h5>
      </div>
      <div class="color6">
        <span class="sb-icon icon-picture"></span>
        <h4><span>gaozengcheng</span></h4>
        <h5><span>生个女儿像妈妈，恩，会比较漂亮。还有预产期几号</span></h5>
      </div>
      <div class="color9">
        <span class="sb-icon icon-picture"></span>
        <h4><span>194</span></h4>
        <h5><span>快长大</span></h5>
      </div>
      <div class="color10">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Zhang Yi</span></h4>
        <h5><span>愿你在这个世界活的舒坦，但不无聊</span></h5>
      </div>
      <div class="color11">
        <span class="sb-icon icon-picture"></span>
        <h4><span>meltedice</span></h4>
        <h5><span>Happy everyday!</span></h5>
      </div>

      <div class="color1">
        <span class="sb-icon icon-picture"></span>
        <h4><span>龚叔叔</span></h4>
        <h5><span>妹妹；叔叔把姐姐玩具给你哈</span></h5>
      </div>
      <div class="color2">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Ryan</span></h4>
        <h5><span>永远是巴比妈咪身边自由快乐的小公主</span></h5>
      </div>
      <div class="color3">
        <span class="sb-icon icon-picture"></span>
        <h4><span>马哥</span></h4>
        <h5><span>小美女快快长大哦</span></h5>
      </div>
      <div class="color4">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Eagle</span></h4>
        <h5><span>当个爸妈的好棉袄</span></h5>
      </div>
      <div class="color5">
        <span class="sb-icon icon-picture"></span>
        <h4><span>杨小贱</span></h4>
        <h5><span>嘿，小美女欢迎来到地球，你要健康快乐的成长！</span></h5>
      </div>
      <div class="color6">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Linda</span></h4>
        <h5><span>漂亮似妈妈，聪明跟爸爸。</span></h5>
      </div>
      <div class="color7">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Christine</span></h4>
        <h5><span>帅哥老爸美女妈咪的女儿肯定是个大美人胚子</span></h5>
      </div>
      <div class="color8">
        <span class="sb-icon icon-picture"></span>
        <h4><span>Brandy</span></h4>
        <h5><span>衷心祝福即将降临人世的小天使小公主健康快乐！！</span></h5>
      </div>
      <div class="color9">
        <span class="sb-icon icon-picture"></span>
        <h4><span>靠得住</span></h4>
        <h5><span>祝小公主健康茁壮成长！</span></h5>
      </div>
      <div class="color10">
        <span class="sb-icon icon-picture"></span>
        <h4><span>廖健</span></h4>
        <h5><span>祝小公主天天开心，幸福快乐！</span></h5>
      </div>
      <div class="color11">
        <span class="sb-icon icon-picture"></span>
        <h4><span>杨叔叔</span></h4>
        <h5><span>hi,baby.</span></h5>
      </div>
      <div>
        <h4><span>猜女生的朋友</span></h4>
      </div>
    </div>
  </section>
  <!-- Main Wrapper end Here-->
</div>
<!-- Content Wrapper end Here-->

<!-- JS start Here-->
{% compress js %}
  <script src="{% static 'greeting/js/jquery.swatchbook.js' %}"></script>
  <script type="text/javascript">
    $(function() {

      $( '#sb-container' ).swatchbook({center:37});
      $( '#sb-container2' ).swatchbook({center:20});

    });
  </script>
{% endcompress %}
<!-- JS end Here-->
</body>
</html>
