# apache virtual host configuration file
# use this by creating a symbol link like
# ln -s /var/www/{{ project_name }}/configs/httpd.vhost /etc/httpd/sites-enabled/baby-lottery.conf
<VirtualHost *:80>
     ServerAdmin lenciel@gmail.com
     ServerName baby-greeting.lenciel.cn

     DocumentRoot /var/www/baby-lottery/src
    <Directory /var/www/baby-lottery/src/settings>
        Order allow,deny
        allow from all
    </Directory>

    WSGIScriptAlias / /var/www/baby-lottery/src/settings/wsgi.py
    WSGIDaemonProcess baby python-path=/var/www/baby-lottery/src:/usr/local/pythonenv/baby-lottery/lib/python2.7/site-packages/
    WSGIProcessGroup baby

    Alias /media/ /var/www/baby-lottery/media/
    Alias /static/ /var/www/baby-lottery/assets/
    <Directory "/var/www/baby-lottery/assets/">
        Order allow,deny
        Options Indexes
        Allow from All
        IndexOptions FancyIndexing
    </Directory>
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    ErrorLog /var/log/httpd/baby-lottery/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog "| /usr/sbin/rotatelogs /var/log/httpd/baby-lottery/%Y_%m_%d_access.log 86400 480"  combined

</VirtualHost>
